body {
    background-color: #f5f5f5;
}

img {
    width: 100px;
    height: 100px;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
}

#res img {
    background-color: #0099cc;
}

#res img.fem {
    background-color: #ff99cc;
}
